<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "./dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
    <!-- Query Exception 발생
    <plugins>
    	<plugin interceptor="org.geopaas.api.common.interceptor.QueryInterceptorPlugin"/>
    </plugins> -->
    
    <typeAliases>
    </typeAliases>
    
</configuration>