<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../../dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.main.mapper.SampleMapper">

	<select id="selectSample" resultType="string">
		SELECT product_name || ' - Sample'
		  FROM public.products
		 LIMIT 1
	</select>
	
	
	
</mapper>